* {
    font-family: Raleway, sans-serif;
}

*, :after, :before {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

/*comprigo css*/

button, input {
    overflow: visible;
}

[type="button"], [type="reset"], [type="submit"], button {
    -webkit-appearance: button;
}

[class*=" icon-"], [class^="icon-"] {
    vertical-align: middle;
}

[class*=" icon-"]:after, [class*=" icon-"]:before, [class^="icon-"]:after, [class^="icon-"]:before {
    font-family: comp-website-ui;
    font-style: normal;
    font-weight: 400;
    speak: none;
    font-size: 24px;
    color: #757575;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    vertical-align: middle;
    font-variant: normal;
    text-transform: none;
    line-height: .8em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn, button {
    border-radius: 2px;
    outline: none !important;
    transition: all .3s ease;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, html input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
}


.header {
    -ms-flex-align: center;
    align-items: center;
}

.header .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-positive: 5;
    flex-grow: 5;
    margin-right: 60px;
    max-width: 466px;
}

.brand-logo {
    margin-right: 50px;
}

a {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

.header .container figure {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 14px;
}

figure {
    margin: 1em 40px;
}

.content-box {
    display: -ms-flexbox;
    display: flex;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

/**/
.brand-logo img {
    width: 150px;
}

.brand-logo img:hover {
    transition: all .3s;
}

.header .container nav {
    width: 100%;
    transition: none;
}

.header .container nav form {
    position: relative;
}

.header .container .input-group {
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #d5d5d5;
    max-width: 800px;
    transition: none;
    padding-bottom: 6px;
    margin-top: 6px;
}

.header .container .input-group input {
    width: calc(100% - 30px);
    border: none;
    font-size: 14px;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.header .container .input-group button {
    background: transparent;
    border: transparent;
    padding-right: 0;
    padding-left: 0;
    cursor: pointer;
    margin-top: -3px;
}

[class*="icon-"] {
    background-repeat: no-repeat;
}

.header .container .input-group button:before {
    color: #454545;
    font-size: 24px;
    line-height: .8;
}

.icon-search:before {
    content: "\e80c";
    color: #0071ce;
    font-size: 30px;
    margin-right: 0;
}

.header .container nav form .autocomplete {
    position: absolute;
    background: #fff;
    border-top: none;
    z-index: 500;
    width: 30vw;
    margin-top: -1px;
    max-width: 800px;
}

.header .category-menu-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.header .category-menu-wrapper ul {
    padding-left: 0;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-transform: uppercase;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    margin: 14px 0;
}

.header .category-menu-wrapper ul li {
    padding-right: 30px;
}

.header .category-menu-wrapper ul li a {
    text-decoration: none;
    color: #0f7ec2;
    font-size: 14px;
    letter-spacing: .05em;
    font-weight: 500;
}

.header .category-menu-wrapper ul li:last-of-type {
    padding-right: 10px;
}

.header .category-menu-wrapper ul .all-cat {
    white-space: nowrap;
}

.all-cat span {
    text-decoration: none;
    color: #0f7ec2;
    font-size: 14px;
    letter-spacing: .05em;
    font-weight: 500;
    cursor: pointer;
}

.header .category-menu-wrapper ul button {
    padding-right: 0;
}

.hamburger {
    padding: 8px 10px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: .15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    float: left;
    position: relative;
    z-index: 120;
}

.hamburger-box {
    width: 20px;
    height: 14px;
    display: inline-block;
    position: relative;
}

.hamburger-spin .hamburger-inner {
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 20px;
    height: 2px;
    background-color: #454545;
    border-radius: 1px;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1px;
}

*, :after, :before {
    box-sizing: border-box;
}

.hamburger-spin .hamburger-inner:before {
    transition: top .1s ease-in .34s, opacity .1s ease-in;
}

.hamburger-inner:before {
    top: -6px;
}

.hamburger-inner:after, .hamburger-inner:before {
    content: "";
    display: block;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 20px;
    height: 2px;
    background-color: #454545;
    border-radius: 1px;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
}

.hamburger-spin .hamburger-inner:after {
    transition: bottom .1s ease-in .34s, transform .3s cubic-bezier(.55, .055, .675, .19);
}

.hamburger-inner:after {
    bottom: -6px;
}

.hamburger-inner:after, .hamburger-inner:before {
    content: "";
    display: block;
}

.category .breadcrumb {
    margin-bottom: 0;

}

.breadcrumb.desktop {
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 52px;
    overflow: hidden;
    background-color: #ededed;
}

.breadcrumb.desktop .breadcrumb-container {
    max-width: 1160px;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
}

.breadcrumb.desktop .breadcrumb-container span:first-of-type {
    background-color: #0f7ec2;
    color: #cddeee;
    z-index: 300;
}

.breadcrumb.desktop .breadcrumb-container span.category-string, .breadcrumb.desktop .breadcrumb-container span a {
    font-size: 14px;
    color: #cddeee;
    font-weight: 400;
    white-space: nowrap;
}

.breadcrumb.desktop .breadcrumb-container span {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 30px;
    position: relative;
    text-transform: uppercase;
}

.breadcrumb.desktop .breadcrumb-container span:first-of-type:before {
    content: "";
    display: inline-block;
    width: 4000px;
    height: 100%;
    margin-left: -4000px;
    background-color: #0f7ec2;
}

.breadcrumb.desktop .breadcrumb-container span:first-of-type:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #0f7ec2;
    position: absolute;
    right: -10px;
}

.breadcrumb.desktop .breadcrumb-container span.is-last {
    background-color: #ededed;
    z-index: 100;
    padding-left: 40px;
    background-color: #55af30;
    color: #888;
}

.breadcrumb.desktop .breadcrumb-container span:nth-of-type(2) {
    background-color: #55af30;
    z-index: 200;
    padding-left: 0px;
    font-weight: 400;
}

.breadcrumb.desktop .breadcrumb-container span.is-last span {
    font-size: 14px;
    color: #afd39a;
    font-weight: 500;
    padding: 0 15px;
    background-color: #55af30;
    height: 40px;
}

.breadcrumb.desktop .breadcrumb-container span.is-last span:after {
    border-left-color: #55af30;
}

.breadcrumb.desktop .breadcrumb-container span.is-last span:before {
    background-color: #55af30;
}

.breadcrumb.desktop .breadcrumb-container span.is-last .category-topics {
    font-size: 14px;
    color: #afd39a;
    font-weight: 500;
    padding: 0 15px;
    background: none;
}

.breadcrumb.desktop .breadcrumb-container span.is-last:after {
    content: "";
    display: inline-block;
    width: 200%;
    height: 100%;
    border: none;
    margin-right: -200%;
    background-color: #ededed;
    position: static;
    min-width: 1000px;
}

.breadcrumb.desktop .breadcrumb-container span:nth-of-type(2):after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #55af30;
    position: absolute;
    right: -10px;
}

/*end comprigo css*/

body {
    color: #888;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
}

[class*='col-'] {
    padding: 0 6px;
    float: left;
    position: relative;
}

.pull-left {
    padding-left: 0px;
}

.pull-right {
    padding-right: 0px;
}

.row {
    width: 100%;
    margin: 0 -6px;
}

.col-1-1 {
    width: 100%;
}

.col-1-2 {
    width: 50%;
}

.col-1-3 {
    width: 33.33%;
}

.col-1-4 {
    width: 25%;
}

.col-1-5 {
    width: 20%;
}

.col-3-5 {
    width: 60%;
}

.left {
    float: left;
}

.cmp-green {
    background: #54b848;
    color: #fff;

}

.light-green {
    background: #82b532;
    color: #fff;
    font-weight: 500;
}

.green {
    background: #35b273;
    color: #fff;
    font-weight: 500;
}

.turquoise {
    background: #25b2bf;
    color: #fff;
    font-weight: 500;
}

.blue {
    background: #4975d8;
    color: #fff;
    font-weight: 500;
}

.purple {
    background: #9766bd;
    color: #fff;
    font-weight: 500;
}

.breadcrumb.desktop {
    margin-bottom: 20px !important;
}

ul {
    float: left;
    width: 100%;
    padding: 0;
}

ul li {
    list-style-type: none;
}

ul li a {
    display: block;
}

a {
    border-radius: 3px;
}

a:hover, a:active, a:link, a:hover, a:visited {
    color: #fff;
}

.hol-container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.hol-container h1 {
    float: left;
    font-size: 45px;
    margin: 10px 0;
}

.hol-container h2 {
    font-size: 30px;
}

.cats {
    width: 100%;
}

.cats ul {
    margin: 8px 0;
}

.cats li {
    float: left;
    padding: 6px 4px;
}

.cats li a {
    padding: 8px 16px;
    border: 1px solid #ccc;
    font-weight: 500;
}

.cats li:first-child {
    margin-left: 0
}

.cats li:last-child {
    margin-right: 0
}

.cats {

}

.cats a {
    padding: 5px 15px;
}

.top.cats {

}

.top.cats a {
    color: #888;
}

.top.cats li .active {
    color: #fff;
    background-color: #007cc2;
    border-color: inherit;
}

.sub.cats {

}

.sub.cats li a {
    padding: 18px 65px 20px 18px;
    border-color: inherit;
    min-height: 90px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
}

.sub.cats li a span {
    position: absolute;
    top: 14px;
    right: 10px;
    height: 60px;
    width: 51px;
    background-image: url("../../assets/img/sprite.png");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: auto;
}

.sub.cats li a.green span {
    background-position: -55px 0;
    width: 66px;
}

.sub.cats li a.turquoise span {
    background-position: -125px 0;
    width: 36px;
    height: 64px;
}

.sub.cats li a.blue span {
    background-position: -165px 0;
    width: 60px;
    height: 65px;
}

.sub.cats li a.purple span {
    background-position: -230px 0;
    height: 65px;
    width: 49px;
}

.filter heading {
    position: relative;
    float:left;
    width:100%;
}

.filter .overlay {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;background:#fff;
    display:block;
    height: 55px;
}

.loader {

    width: 100%;
    position: absolute;
    left: 0;
    padding: 50px 0;
    background: #fff;
    z-index: 1000;
    text-align: center;
}

.filter heading a {
    float: right;
    text-transform: uppercase;
    padding: 4px 25px;
    border: 1px solid #555;
    font-size: 13px;
    font-weight: 600;
    color: #666;
    margin-top: 29px;
}

.filter heading h2 {
    float: left;
}

.filter .group {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.filter .group .items {
    max-height: 240px;
    overflow-y: auto;
    padding: 5px 0;
    margin: -5px 0;
}

.filter .group .expander {
    position: relative;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 18px;
    color: #444;
    cursor: pointer;
}

.filter .group .expander span {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 12px;
    height: 8px;
    background-image: url("../../assets/img/sprite.png");
    background-position: 0 -70px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.filter .group .expander.closed span {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.filter .group .items .item {
    position: relative;
    font-size: 12px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter .group .items .item .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.filter .group .items .item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.filter .group .items .item .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 17px;
    width: 17px;
    border: 2px solid #c0c0c0;
    border-radius: 4px;

}

.filter .group .items .item:hover input ~ .checkmark {

}

.filter .group .items .item input:checked ~ .checkmark {
    border-color: #007cc2;
}

.filter .group .items .item input:checked ~ .checkmark:after {
    display: block;
    content: "";
}

.filter .group .items .item .checkmark:after {
    left: 9px;
    top: 5px;
    width: 6px;
    margin-left: 4px;
    height: 10px;
    border: solid #007cc2;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.product-list {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    /* background:url('../../assets/img/preloader.webp');*/
}

.product-list .product-item:first-of-type {
    display: none;

}

.product-list .details-cnt:first-of-type {

}

.product-list .product-item {
    display: flex;
    flex-direction: row;
    float: left;
    margin-top: 30px;
}

.product-list .product-item .img-hld {
    position: relative;
    float: left;
    flex-basis: 184px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto;
    height: 184px;
}

.product-list .product-item .img-hld .num {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #54b848;
    text-align: center;
}

.product-list .product-item .img-hld .label {
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #007cc2;
    color: #fff;
    padding: 10px 15px 8px 15px;
}

.product-list .product-item .img-hld img {
    width: auto;
    height: auto;
    max-width: 184px;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

.product-list .product-item .cnt-hld {
    width: 100%;
    height: 184px;
    display: flex;
    padding: 10px 15px 10px 0;
    margin-left: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    flex-basis: 480px;
    flex-shrink: 0;
}

.product-list .product-item .cnt-hld.active {
    border-bottom: 1px solid transparent;
}

.deals .deal:first-of-type {
    display: none;

}

.product-list .product-item .cnt-hld .deals {
    flex: 0 0 240px;
    margin: auto;
    float: right;
    padding-left: 20px;
    text-align: right;
}

.product-list .product-item .cnt-hld .deals .deal {
    width: 100%;
    float: left;
    margin: 8px 0;
}

.product-list .product-item .cnt-hld .deals .price {
    color: #54b848;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 2px;
}

.product-list .product-item .cnt-hld .deals .merchant {
    font-size: 12px;
    line-height: 14px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 90px;
}

.product-list .product-item .cnt-hld .deals .deal .pm {
    float: right;

}

.product-list .product-item .cnt-hld .deals .deal .btn {
    position: relative;
    float: right;
    padding: 9px 22px 8px 10px;
    margin-top: 3px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #54b848;
    color: #54b848;
    border-radius: 3px;
    margin-left: 20px;
}

.product-list .product-item .cnt-hld .deals .deal .btn:after {
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -6px;
    display: block;
    width: 7px;
    height: 11px;
    background-image: url("../../assets/img/sprite.png");
    content: "";
    background-position: 0 -84px;
}

.product-list .product-item .cnt-hld .deals .deal.best .btn {
    color: #fff;
    background-color: #54b848;

}

.product-list .product-item .cnt-hld .deals .deal.best .price {
    color: #b71419;
}

.product-list .product-item .cnt-hld header {
    float: left;
    width: 100%;
}

.product-list .product-item .cnt-hld h3 {
    font-size: 12px;
    color: #0f7ec2;
    font-weight: 500;
}

.product-list .product-item .cnt-hld h2 {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-list .product-item .cnt-hld .info {
    position: relative;
    padding-bottom: 30px;
}

.product-list .product-item .cnt-hld .details {
    font-size: 12px;
    border-bottom: 1px dotted #0f7ec2;
    color: #0f7ec2;
    position: absolute;
    bottom: 5px;
    left: 0px;
    margin-top: 36px;
}

.product-list .product-item .cnt-hld .details span {
    width: 8px;
    height: 5px;
    float: right;
    background-image: url('../../assets/img/sprite.png');
    background-position: 0px -115px;
    margin: 3px 0 0 8px;
}

.product-list .product-item .cnt-hld .details.active span {
    transform: rotate(180deg);
}

.product-list .details-cnt {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    padding: 10px 15px;
}

.product-list .details-cnt .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.product-list .details-cnt h4 {
    font-size: 12px;
    font-weight: 600;
}

.product-list .details-cnt .details-header {

}

.product-list .details-cnt .details-header .stars {
    height: 15px;
    width: 95px;
    display: block;
}

.product-list .details-cnt .details-header .score {
    color: #54b848;
    font-size: 40px;
    font-weight: 600;
    margin: 0 8px;
}

.product-list .details-cnt .details-header .rating-num {
    font-size: 13px;
    margin-top: 14px;
}

.product-list .details-cnt .details-header .rating-num span {
    display: block;
    color: #0f7ec2;
}

.product-list .details-cnt .details-body {
    margin: 35px 0 20px 0;
    border-top: 1px solid #eee;
    float: left;
    width: 100%;

}

.product-list .details-cnt .details-body p {
    font-size: 13px;
    line-height: 20px
}

.grade, .test, .date {
    float: left;
    margin-right: 5px;

}

.grade {
    color: #0f7ec2;
    font-weight: 600;
    font-size: 14px;
}

.test, .date {
    font-weight: 400;
    font-size: 12px;
    margin-top: 3px;
}

.side section {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.side .coupons .coupon {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.side .coupons .coupon .top {
    float: lefT;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    color: #54b848;
}

.side .coupons .coupon .bottom {
    float: left;
    width: 100%;
    padding: 20px;
}

.side .coupons .coupon .top > div, .side .coupons .coupon .bottom > div, .side .coupons .coupon .bottom h3 {
    float: left;
    width: 100%;
}

{
}

.side .coupons .coupon.percent .top {
    color: #f26522
}

.side .coupons .coupon.amount .top .type {
    font-size: 14px;
}

.side .coupons .coupon .top .saving {
    font-size: 55px;
    font-weight: normal;
    line-height: 40px;
}

.side .coupons .coupon .top .saving span {
    font-size: 30px;
}

.side .coupons .coupon.delivery .top .saving {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
}

.side .coupons .coupon.delivery .top .type {
    width: 41px;
    height: 27px;
    background-image: url("../../assets/img/sprite.png");
    background-position: -20px -90px;
    float: none;
    margin: 0 auto 10px auto;
}

.side .coupons .coupon .bottom .verified {
    color: #54b848;
    text-transform: uppercase;
    font-size: 12px;
}

.side .coupons .coupon .bottom .verified span {
    display: inline-block;
    width: 21px;
    height: 16px;
    margin-right: 2px;
    background-image: url("../../assets/img/sprite.png");
    background-position: -20px -70px;
}

.side .coupons .coupon .bottom {
}

.side .coupons .coupon .bottom h3 {
    font-size: 16px;
    margin-bottom: 0;
}

.side .coupons .coupon {
}

.side .articles h3 {
    font-size: 16px;
    font-weight: normal;
}

.side .articles .rec-art {
}

.side .articles .rec-art .img-hld {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.side .articles .rec-art .img-hld img {
    width: 100%;
    display: block;
}

.article img {
    display: block;
    width: 100%;
    margin: 40px 0;
}

.article h3 {
    font-size: 25px;
    line-height: 35px;
}

.article p {
    font-size: 16px;
    line-height: 28px;
    color: #444;
}

.more-products {
    float: left;;
    width: 100%;
    margin: 30px 0;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.more-products span {
    padding: 0 20px;
    background: #fff;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.more-products:before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #eee;
    z-index: 0;

}

#more {
    display: block;
    padding: 8px 16px 7px 16px;
    border-radius: 3px;
    text-transform: uppercase;
    border: 1px solid #444;
    font-weight: bold;
    font-size: 14px;
    color: #444;

}

#more.disabled {
    display: none;
}